* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

#family-photo, #screen-photo, #battery-photo {
    width: 100%;
    padding-bottom: 2rem;
}

#var-footer {
    margin-top: auto;
    margin-bottom: 0;
}

#test {
    border: 5px solid red;
    margin-top: 100%;
    margin-bottom: 0;
}

@media only screen and (min-width: 481px){
    body {
        padding-top: 5.6rem;
    }

    .navbar {
        padding: 0 17.5% 0 17.5% !important;
        flex-direction: row !important;
        align-items: flex-end !important;
    }

    .navbar-brand {
        margin-left: 16px;
    }

    #family-photo, #screen-photo, #battery-photo {
        width: 60%;
        padding-bottom: 2rem;
    }

    #navbarNav {
        padding-bottom: .3125rem !important;
    }

    .page {
        min-height: calc(100vh - 5.625rem);
    }

    .navbar-nav {
        flex-direction: row !important;
        width: 100%;
        justify-content: flex-end !important;
        align-items: flex-end;
    }

    #request-repair-button-container {
        margin-left: 1rem !important;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-color: #343a40;
    }
    
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 65%;
    }
    
    .footer-contact-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        height: 100%;
        color: white;
    }
    
    .footer-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 15%;
    }
}

#navbar-brand-logo {
    height: 5rem;
    width: 5rem;
}

.nav-link:hover {
    color: #2EB2FF !important;
}

#request-repair-button {
    /* border: 1px solid grey; */
    border-radius: 5px;
    background-color: #2EB2FF;
    color: black;
    width: 100% !important;
    text-align: center !important;
}

#request-repair-button:hover {
    background-color: grey;
    color: black !important;
}

.page {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: auto;
}

.page-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-image-div {
    height: auto;
    width: 100%;
}

#main-image {
    width: 100%;
}

#facebook-icon, #github-icon {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
}

.main-image-text {
    /* padding-top: 7rem; */
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-image-text-p {
    font-weight: 300;
}

.info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 480px) {
    body {
        padding-top: 6.625rem;
    }

    .page {
        min-height: calc(100vh - 6.625rem);
    }

    .footer-container {
        width: 100vw;
        background-color: #343a40;
    }
    
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
        height: auto;
        color: white;
        background-color: #343a40;
        padding: .25rem;
    }
    
    .footer-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

.var-footer {
    width: 100%;
}